body{
    background-color: grey;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
}
.disable-dbl-tap-zoom {
    touch-action: manipulation;
  }

canvas{
    border: 6px black;
}

.options{
    display: flex;
}

.colors{
    display: flex;
}

.color{
    height: 50px;
    width: 100px;
}

.colorpick{
    height: 50px;
    width: 100px;
}
